@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200;
}

input {
  @apply shadow p-2 rounded;
}

button, button[type='submit'], button[type='button'], a.button {
  @apply bg-slate-600 hover:bg-slate-800 text-white px-4 rounded shadow h-10 items-center flex
}

label {
  @apply text-sm text-slate-700
}

input[type=checkbox] {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

input[type=checkbox]::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

input[type=checkbox],
input[type=checkbox]::after {
  transition: all 100ms ease-out;
}

input[type=checkbox]::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

input[type=checkbox] {
  cursor: default;
}

input[type=checkbox]:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

input[type=checkbox]:checked {
  @apply bg-slate-600;
}

input[type=checkbox]:checked::after {
  background-color: #fff;
  left: 13px;
}

input[type=checkbox]:checked:hover {
  @apply bg-slate-800;
}